/* NEW CHAPTER 02 */

/* Global */
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

/* App */
.app {
  max-width: 1024px;
}

.app-title {
  font-size: 48px;
  text-align: center;
}

.app-footer {
  text-align: center;
  margin-bottom: 24px;
}

/* Jobs */
.jobs {
  padding: 0 12px;
}

.jobs > article {
  margin: 32px 0;
}

/* END: NEW CHAPTER 02 */